@import '../../../../index.scss';

.sb-iconbutton {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &--small {
    padding: 6px 8px;
    font-size: 1.125rem;
  }

  &--medium {
    padding: 8px 10px;
    font-size: 1.25rem;
  }

  &--large {
    padding: 8px 10px;
    font-size: 1.5rem;
  }
}
