@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

:root,
[data-theme='dark'] {
  --primary-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
}

.display-lg {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
  font-weight: 600;
}

.display-md {
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0;
  font-weight: 600;
}

.display-sm {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  font-weight: 600;
}

h1,
.heading-lg {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
}

h2,
.heading-md {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 600;
}

h3,
.heading-sm {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 600;
}

.subheading-lg {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 600;
}

.subheading-md {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15;
  font-weight: 600;
}

.subheading-sm {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1;
  font-weight: 600;
}

.label-lg {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1;
  font-weight: 600;
}

.label-md {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5;
  font-weight: 600;
}

.lablel-sm {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5;
  font-weight: 600;
}

.body-lg {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5;
  font-weight: 400;
}

.body-md {
  font-size: 14px;
  line-height: 20;
  letter-spacing: 0.25;
  font-weight: 400;
}

.body-sm {
  font-size: 12px;
  line-height: 16;
  letter-spacing: 0.4;
  font-weight: 400;
}

.title-lg {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.title-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
