
@import '../../../../index.scss';

.sb-imagecard {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 400px;
  position: relative;

  &__profile {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    padding: 20px;
    @include bottom();
    bottom: 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }

    h2 {
      color: var(--dark);
      font-size: 1.2rem;
    }

    p {
      color: var(--dark);
      font-size: 0.8rem;
    }

    p b {
      font-style: italic;
    }
  }
 }
 