// Classes

.flip-perspective {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: calc(50% + 120px) 50%;
  perspective-origin: calc(50% + 120px) 50%;
}

.anim-object {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  z-index: 905;
  width: 170px;
  height: 170px;
  position: relative;
  -webkit-box-direction: normal;

  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
  }

  .front {
    z-index: 20;
  }

  .back {
    z-index: 10;
  }
}

.flip-scale-up-hor {
  -webkit-animation: flip-scale-up-hor 0.5s linear both;
  animation: flip-scale-up-hor 0.5s linear both;

  .back {
    transform: rotateX(180deg);
  }
}

.flip-scale-down-diag-1 {
  -webkit-animation: flip-scale-down-diag-1 0.5s linear both;
  animation: flip-scale-down-diag-1 0.5s linear both;

  .back {
    transform: rotate3d(1, 1, 0, 180deg);
  }
}

.flip-scale-down-hor {
  -webkit-animation: flip-scale-down-hor 0.5s linear both;
  animation: flip-scale-down-hor 0.5s linear both;

  .back {
    transform: rotateX(180deg);
  }
}

.flip-scale-up-diag-2 {
  -webkit-animation: flip-scale-up-diag-2 0.5s linear both;
  animation: flip-scale-up-diag-2 0.5s linear both;

  .back {
    transform: rotate3d(-1, 1, 0, -180deg);
  }
}

.flip-scale-up-ver {
  -webkit-animation: flip-scale-up-ver 0.5s linear both;
  animation: flip-scale-up-ver 0.5s linear both;

  .back {
    transform: rotateY(180deg);
  }
}

.flip-scale-down-diag-2 {
  -webkit-animation: flip-scale-down-diag-2 0.5s linear both;
  animation: flip-scale-down-diag-2 0.5s linear both;

  .back {
    transform: rotate3d(-1, 1, 0, -180deg);
  }
}

.flip-scale-down-ver {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;

  .back {
    transform: rotateY(180deg);
  }
}

.flip-scale-up-diag-1 {
  -webkit-animation: flip-scale-up-diag-1 0.5s linear both;
  animation: flip-scale-up-diag-1 0.5s linear both;

  .back {
    transform: rotate3d(1, 1, 0, 180deg);
  }
}

.flip-scale-2-hor-top {
  -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
  animation: flip-scale-2-hor-top 0.5s linear both;

  .back {
    transform: rotateX(180deg);
  }
}

.flip-scale-2-ver-right {
  -webkit-animation: flip-scale-2-ver-right 0.5s linear both;
  animation: flip-scale-2-ver-right 0.5s linear both;

  .back {
    transform: rotateY(180deg);
  }
}

.flip-scale-2-hor-bottom {
  -webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
  animation: flip-scale-2-hor-bottom 0.5s linear both;

  .back {
    transform: rotateX(180deg);
  }
}

.flip-scale-2-ver-left {
  -webkit-animation: flip-scale-2-ver-left 0.5s linear both;
  animation: flip-scale-2-ver-left 0.5s linear both;

  .back {
    transform: rotateY(180deg);
  }
}

// Key frames

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:7:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-hor
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:9:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-diag-1
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -180deg);
    transform: scale(1) rotate3d(1, 1, 0, -180deg);
  }
}
@keyframes flip-scale-down-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, -180deg);
    transform: scale(1) rotate3d(1, 1, 0, -180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:9:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-hor
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateX(90deg);
    transform: scale(0.4) rotateX(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
    transform: scale(1) rotateX(180deg);
  }
}
@keyframes flip-scale-down-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateX(90deg);
    transform: scale(0.4) rotateX(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
    transform: scale(1) rotateX(180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:10:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-diag-2
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}
@keyframes flip-scale-up-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(-1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 180deg);
    transform: scale(1) rotate3d(-1, 1, 0, 180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:10:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-ver
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:11:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-diag-2
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, -180deg);
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}
@keyframes flip-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, -180deg);
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:11:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-ver
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:12:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-diag-1
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
    transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}
@keyframes flip-scale-up-diag-1 {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
    transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
    transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:12:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:13:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
    transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
    transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
    transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
    transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:13:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-2-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
    transform: translateY(50%) rotateX(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
    transform: translateY(100%) rotateX(180deg) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes flip-scale-2-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  50% {
    -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
    transform: translateY(50%) rotateX(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
    transform: translateY(100%) rotateX(180deg) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-31 12:14:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-2-ver-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
    transform: translateX(-50%) rotateY(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
    transform: translateX(-100%) rotateY(180deg) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
@keyframes flip-scale-2-ver-left {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  50% {
    -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
    transform: translateX(-50%) rotateY(90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
    transform: translateX(-100%) rotateY(180deg) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
