@import './scss/reset.scss';
@import './scss/typography/typography.scss';
@import './scss/colors/colors.scss';
@import './scss/box-shadows/box-shadow.scss';
@import './scss/dimensions/dimensions.scss';

@import './animations/animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
