@import './design-tokens/mixins.scss';
@import './design-tokens/reset.scss';
@import './design-tokens/typography/typography.scss';
@import './design-tokens/colors/colors.scss';
@import './design-tokens/box-shadows/box-shadow.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
