@mixin disabled($color, $background-color, $color-shadow) {

  &.disabled-content {
    cursor: not-allowed;
    color: $color;
    background-color: $background-color;

    &:hover {
      background-color: $background-color;
      box-shadow: 0 6px 20px $color-shadow;
    }
  }

  &.disabled-content > * {
    pointer-events: none;
  }
}

@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
 }